<ion-content [fullscreen]="true" color="roxo">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating" color="roxo">E-Mail</ion-label>
        <ion-input placeholder="user.name@mail.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="roxo">Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-card-content>
    <div class="but">
      <ion-button expand="block" color="roxo" (click)="entrar()">Entrar</ion-button>
      <ion-button expand="block">Esqueceu a Senha</ion-button>
      <br>
      <br>
      <h5>Ainda não tem conta? Damos um jeitinho:</h5>
      <ion-button expand="block" [routerLink]="['/cadastro']">Registrar</ion-button>
    </div>
  </ion-card>
</ion-content>