ion-content {
    text-align: center;
    align-items: center;
    justify-content: center;
}

ion-card {
    border-radius: 10px;

    ion-card-title {
        font-size: 2rem;
    }
}

ion-button {
    margin-top: 15px;
}

h5 {
    font-size: 15px;
}

ion-title {
    text-align: center;
}

#datetime {
    color: #000;
}

.calendar-action-buttons ion-item ion-label {
    color: #9f6bff !important;
}
