<ion-header [translucent]="true">
  <ion-toolbar color="roxo">
    <ion-title>
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>
      <form [formGroup]="pcad">
        <ion-item>
          <ion-label position="floating" color="roxo">Nome</ion-label>
          <ion-input type="text" formControlName="nome_prod"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="roxo">Descrição</ion-label>
          <ion-input type="text" formControlName="desc"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="roxo">Validade</ion-label>
          <ion-input type="date" placeholder="dd/mm/yyyy" formControlName="validade"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="roxo">Preço (R$)</ion-label>
          <ion-input type="text" formControlName="preco" placeholder="R$0,00"></ion-input>
        </ion-item>
      </form>
      <ion-button expand="block" color="roxo" (click)="salvarProduto()">Cadastrar Produto</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-item-sliding *ngFor="let pd of listap">
    <ion-item lines="none">
      <ion-label color="roxo">{{pd.nome_prod}}</ion-label>
      <ion-chip color="success">
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label>R${{pd.preco}}</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">{{pd.desc}}</ion-label>
      <ion-chip color="roxo">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>{{pd.validade}}</ion-label>
      </ion-chip>
    </ion-item>

    <ion-item-options>
      <ion-item-option color="danger" (click)="excluir(pd.email)">
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>